@{
    ViewData["Title"] = "Home Page";
}

﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Internship class</title>

</head>
<body>
    <h1>Internship Landpage</h1>
    <p>Here is our classroom</p>

    <ul id="list">
        <li>Passes all tests</li>
        <li>Reveals intention</li>
        <li>No duplication</li>
        <li>Minimal</li>
    </ul>

    <input id="newcomer" title="Name" type="text" />
    <button id="add">Add new commer</button>
    <script src="js/addNewcomer.js"></script>
    <p></p><img src="~/img/GoodCodeRules.png" width="200" />

</body>
</html>
